table.ld_import-samples { table-layout: fixed; }

table.ld_import-samples td {
  vertical-align: top;
  overflow: hidden;
  font-size: 11px;
  word-wrap: break-word;
}

table.ld_import-samples th.first { width: 30%; }

table.ld_import-samples .property-uri { color: #999; }

table.ld_import-samples .property-label { display: block; }

table.ld_import-samples ul { margin: 0; }

table.ld_import-samples ul li,
table.ld_import-samples p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}